body {
    font-family: "Microsoft JhengHei", Arial, sans-serif;
    margin: 30px;
    background-color: #f9f9f9;
    color: #333;
}


form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
}

.modal-header,
.modal-footer {
  border: none;
}

table.table-hover tbody tr:hover {
    background-color: #f9f9f9; /* 你想要的淺色 */
}

.hidden-column {
  display: none;
}
