@charset "UTF-8";

body {
    font-family: "Microsoft JhengHei", Arial, sans-serif;
    margin: 30px;
    background-color: #f9f9f9;
    color: #333;
}


form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
}

.modal-header,
.modal-footer {
  border: none;
}

/* 成功提示高度變小 */
#saveResultModal .modal-header {
  padding: 0.25rem 1rem; /* 上下縮小 padding */
  font-size: 0.9rem;     /* 字體稍小 */
  min-height: 38px;      /* 視需要調整 */
}

input[readonly] {
      background-color: #f8f9fa !important; /* 淺灰背景 */
      color: #6c757d; /* 灰色文字 */
      cursor: not-allowed; /* 游標變成禁止符號 */
    }
